{% extends "base.html" %}

{% block title %}{{ content.title }}{% endblock %}

{% block  content %}
    <div>{{ content.text|safe }}</div>
{% endblock %}

{% block forum %}
    {% if user.is_authenticated %}
        <hr style="border: 1px solid indianred; width: 100%;"/>
        {% if thread %}
            {% include "forum/thread.html" %}
        {% else %}
            {% if threads %}
                {% include "forum/main.html" %}
            {% else %}
                {% include "forum/new_thread.html" %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}
<h1>{{ thread }}</h1>