
<table class="table table-sm">
    <thead>
    <th scope="col" class="col-2 bg-dark-subtle">
        <a href="{{ request.path }}new-thread/" class="list-group-item list-group-item-action list-group-item-dark">New thread</a>
    </th>
    <th scope="col" class="col-auto  bg-light-subtle text-center"></th>
    </thead>
</table>

<div class="list-group">
    {% for t in threads %}
        <a class="text-decoration-none text-dark" href="{{ request.path }}{{ t.id }}"
           class="list-group-item-secondary list-group-item-action">{{ t.subject }}</a>
    {% endfor %}
</div>
