{% load actions %}
<table class="table table-sm">
    <thead>
    <th scope="col" class="col-2 bg-dark-subtle">
        <a href="/{{ slug }}/" class="list-group-item list-group-item-action list-group-item-dark">Back</a>
    </th>
    <th scope="col" class="col-auto  bg-light-subtle text-center">{{ thread.subject }}</th>
    </thead>
</table>
<div class="list-group">
    <table class="table table-sm">
        <thead>
        <th scope="col" class="col-2">Date</th>
        <th scope="col" class="col-2">Author</th>
        <th scope="col" class="col-auto">Comment</th>
        </thead>
        <tbody>
        {% for p in posts %}
            {% if p.written_by == user %}
                {% define "" as disabled %}
            {% else %}
                {% define " disabled" as disabled %}
            {% endif %}
            {% if p.hidden %}
                {% define "bg-dark-subtle " as bg %}
            {% else %}
                {% define "" as bg %}
            {% endif %}
            <tr>
                <td>{{ p.updated|date:"SHORT_DATETIME_FORMAT" }}</td>
                <th scope="row">{{ p.written_by }}</th>
                {% if bg and disabled %}
                    <td class="{{ bg }}">This comment is hidden.</td>
                {% else %}
                    <td class="{{ bg }}"><a href="/{{ slug }}/{{ thread.id }}/{{ p.id }}/"
                                            class="{{ bg }}border-0 list-group-item list-group-item-action{{ disabled }}">
                        {{ p.text|linebreaks }}</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<form class="px-3 py-2 form-control" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% if pid %}
        <input class="my-2 form-control-sm" type="submit" name="submit" value="{{ action }} comment"/>
        <input class="my-2 form-control-sm" type="submit" name="submit" value="Update comment"/>
        <input class="my-2 form-control-sm" type="submit" name="submit" value="Delete comment"/>
    {% else %}
        <input class="my-2 form-control-sm" type="submit" name="submit" value="Post comment"/>
    {% endif %}
</form>
